html {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
body {
    margin: 0;
}

:root {
    --fs-xl: clamp(3rem, 4vw, 6rem);
    --fs-l: clamp(2rem, 3vw, 4rem);
    --fs-m: clamp(1.5rem, 2vw, 3rem);
    --fs-s: clamp(1.0rem, 1vw, 2.5rem);
    --fs-xs: clamp(0.75rem, 0.5vw, 1.5rem);

    h1{
        font-size: var(--fs-xl);
        font-weight: 100;
    }
    h2{
        font-size: var(--fs-l);
        font-weight: 100;
    }
    h3{
        font-size: var(--fs-m);
        font-weight: 100;
    }
    h4{
        font-size: var(--fs-s);
        font-weight: 100;
    }
    h5{
        font-size: var(--fs-xs);
        font-weight: 100;
    }
}

/*  
        @media (min-width: 768px) and (max-width: 1124px) { } 
        @media (max-width: 767px) { }          
         

*/
